html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

.head {
    text-align: center;
    background-color: #f0f0f0;
    padding: 15px;
    top: 0;
    width: 100%;
}

.head h1 {
    margin: 0;
}

.grid {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.vehicle {
    border-radius: 15px;
    width: 100%;
    -webkit-box-shadow: 0 5px 13px -3px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0 5px 13px -3px rgba(0, 0, 0, 0.55);
    box-shadow: 0 5px 13px -3px rgba(0, 0, 0, 0.55);
    position: relative;
}

img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 100%;
}

.about {
    padding: 10px 15px 15px;
    float: left;
}

.pricing {
    font-weight: bold;
    right: 15px;
    bottom: 15px;
    position: absolute;
}

.about span {
    display: block;
}


.options {
    width: 60%;
    border: 1px solid #a0a0a0;
    border-radius: 8px;
    margin: 25px auto;
    padding: 10px;
}




.options .count {
    margin-left: 16px;
    margin-top: 8px;
    font-size: 16px
}

.options span {
    font-weight: bold;
}

.filter {
    padding: 10px;
    margin-bottom: 5px;
}


@media (max-width: 576px) { .options {
    width: 90%;
}
}


@media (max-width: 768px) { }

@media (max-width: 992px) { }

@media (max-width: 1200px) {  }
